<odoo>
  <menuitem id="menu_insurance_root" name="Insurance" web_icon="insurance_claim,static/description/icon.png"/>
  <menuitem id="menu_insurance_tariffs" name="Tariffs" parent="menu_insurance_root" sequence="10"/>

  <record id="action_tariff_band_d" model="ir.actions.act_window">
    <field name="name">Band D Tariffs</field>
    <field name="res_model">tariff.band.d</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="action_tariff_abc_facility" model="ir.actions.act_window">
    <field name="name">A/B/C Facility Tariffs</field>
    <field name="res_model">tariff.abc.facility</field>
    <field name="view_mode">tree,form</field>
  </record>

  <record id="action_claim_kanban" model="ir.actions.act_window">
    <field name="name">Claims</field>
    <field name="res_model">account.move</field>
    <field name="view_mode">kanban,tree,form</field>
    <field name="domain">[("claim_id","!=",False)]</field>
  </record>

  <menuitem id="menu_tariff_band_d" name="Band D Tariffs" parent="menu_insurance_tariffs" action="action_tariff_band_d" sequence="10"/>
  <menuitem id="menu_tariff_abc_facility" name="A/B/C Facility Tariffs" parent="menu_insurance_tariffs" action="action_tariff_abc_facility" sequence="20"/>
  <menuitem id="menu_claims" name="Claims" parent="menu_insurance_root" action="action_claim_kanban" sequence="20"/>
</odoo>
